body {
  background-color: #87b5b5;
}
#editor {
  width: 40%;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: none;
}
#editor:focus {
  outline: none;
}
#preview {
  background-color: #333;
  color: white;
  border-radius: 8px;
  width: 60%;
  margin: 0 auto;
}
#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}
#preview code {
  font-size: 0.875rem;
  font-weight: bold;
  background-color:azure;
  color: #333;
}
h6 {
  color: coral;
}
a {
  text-decoration: none;
}